html
	head
		title(style='color: blue; font-family: Arial') Amazon Market Place
		link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
	body
		h3(style='color: blue; font-family: Arial') Amazon Market Place
		p
		a(href='http://127.0.0.1:3030/home') Home
		section.container!= body
		block content