extend ../views/layoutExtern

block content
	h3 Sorry. This #{pageData.Email} user already exists.
	p Please use your login and password to login.
	p
		| <a href="http://127.0.0.1:3030/login">Login here</a>