extend ../views/layoutExtern

block content
	h3 Thank you for using Amazon Marketplace. You're now logged out.
	p
	a(href='http://127.0.0.1:3030/login') Login again
	p 
	a(href='http://127.0.0.1:3030/signup') Signup