extend ../views/layoutExtern

block content
 h3 You need to sign in before accessing Amazon Marketplace.
 p
 a(href='http://127.0.0.1:3030/login') Login Here
 p
 a(href='http://127.0.0.1:3030/signup') New user? Sign up