extend ../views/layout

block content
   div(style='float:right')
    form(align='right', action='/logout', method='post')
     p: input(type='submit', value='Logout')
   h4(style='color: blue; font-family: Arial') Recommendations page
   p no recomendation found
   p
   a(href='http://127.0.0.1:3030/showCart') Show Cart Summary
   p
    a(href='http://127.0.0.1:3030/catalogs') Browse all catalogs
   p
    a(href='http://127.0.0.1:3030/products') Browse all products    